@charset "utf-8";

.footer {
    color: #FFFFFF;
    font-style: italic;
    font-size: small;
    text-align: center;
}
.content {
	display: block;
}

div.content {
	width: 100%;
	padding-right: 10px
}

.logo {
	font-size: x-large;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.topper {
    text-decoration: none;
    text-align: center;
    color: #545454;
    font-style: italic;
}

.snazzyLink {
    text-decoration: none;
    color: #0000FF;
    font-weight: bold;
    font-style: italic;
}

.form {
	text-align: center;
    border: 2px;
    border-style: solid;
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

.centerButFancy {
    text-align: center;
	border-bottom-width: 1px;
    border-bottom-style: solid;
}
 /* This is to get the logo to "stick" to the left of the navbar */
 #fdlogo {
    display: inline-flex;
    position: relative;
    left: 40px;
    bottom: 10px;
}

#fdlogo:hover {
	content: url("Images/FezDynamoWatermark_Hover.png");
}

figure.gallery {
	display: inline-block;
	text-align: center;
	padding-left: 15px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #545454;
}

body {
    background-image: url("Images/Background.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
#landingPage {
    display: flex;
    justify-content: center;
	background: black;
}

#doorToNowhere {
    -webkit-box-shadow: 10px 10px #000000;
    box-shadow: 10px 10px #000000;
    position: relative;
    top: 0;
}
.gallery img {
	width: calc(100% - 15px);
}

@media screen and (min-width: 480px) {  /* The @media handles both the landing page (moving the image up on smaller displays and changing the background color) and the display method for the content class */
	#doorToNowhere {
  	  -webkit-box-shadow: 10px 10px #000000;
  	  box-shadow: 10px 10px #000000;
  	  position: relative;
  	  top: 8%;
	}
	#landingPage {
    background-image: url("Images/Background.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
	}
	.content {
	display: inline-block;
	}
	div.content {
	width: 40%;
	}
}

#header {
	display: flex;
}

#header nav a {
    text-decoration: none;
    color: #FFFFFF;	
}

body main {
    background-color: #FFFFFF;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    -webkit-box-shadow: 5px 5px #000000;
    box-shadow: 5px 5px #000000;
    margin-bottom: 20px;
	overflow: hidden;
}

nav {
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: -webkit-linear-gradient(0deg,rgba(159,0,255,1.00) 0%,rgba(0,0,255,1.00) 100%);
    background-image: -moz-linear-gradient(0deg,rgba(159,0,255,1.00) 0%,rgba(0,0,255,1.00) 100%);
    background-image: -o-linear-gradient(0deg,rgba(159,0,255,1.00) 0%,rgba(0,0,255,1.00) 100%);
    background-image: linear-gradient(90deg,rgba(159,0,255,1.00) 0%,rgba(0,0,255,1.00) 100%);
    -webkit-box-shadow: 5px 5px #000000;
    box-shadow: 5px 5px #000000;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

table {
	width: 100%;
}

table, th, td {
  border: 1px solid;
}
